@tailwind base;
@tailwind components;
@tailwind utilities;

/* 'orange': '#df5b28',
'dark': '#020202',
'light': '#f0f0f0', */

.login__input {
    position: relative;
    width: 90%;
}

.login__input-label {
    font-weight: bold;
    color: #df5b28;
    font-size: 15px;
    position: absolute;
    pointer-events: none;
    left: 4px;
    top: 5px;
    padding: 0 5px;
    border-radius: 5px;
    background: #f0f0f0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.login__input-input {
    font-size: 15px;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 20px;
    background: #f0f0f0;
    color: #df5b28;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.login__input-input:focus~.login__input-label {
    top: -15px;
    font-size: 15px;
    border-right: 1px solid #df5b28;
    border-bottom: 1px solid #df5b28;

}

#general__search::-webkit-search-cancel-button {
    display: none;
}